.filter {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.filter:hover {
  border-color: #888;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}